<script src="{BASE_URL}assets/ckeditor/ckeditor.js"></script>
<script src="{BASE_URL}assets/ckeditor/js/sample.js"></script>
<link rel="stylesheet" href="{BASE_URL}assets/ckeditor/css/samples.css">
<link rel="stylesheet" href="{BASE_URL}assets/ckeditor/toolbarconfigurator/lib/codemirror/neo.css">

<div style="margin:1%">
<h4><i class="fa fa-angle-right"></i>{judul}</h4>
    <hr>

<form action="{BASE_URL}aboutus/act_aboutus" method="post" name="frm1" id="frm1">
<input type="hidden" name="id" value="{id}">	
<textarea class="form-control" placeholder="Default Text" name="ab"  style="height:00px" id="editor" rows="10">{aboutus}</textarea>
<br>
<input class="btn btn-info" type="submit" name="Submit" value="SAVE">
</form>
</div>
<script>
	initSample();
</script>
