<!-- B: Index -->

<!-- E: Optional Scripts -->
<!-- B: Index -->
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    
    <!-- B: Styles -->
    <link rel="stylesheet/less" type="text/css" media="all" href="{BASEURL}assets/styles/reset.css" />
    <link rel="stylesheet/less" type="text/css" media="screen, projection" href="{BASEURL}assets/styles/pages.css" />
    <link rel="stylesheet/less" type="text/css" media="screen, projection" href="{BASEURL}assets/styles/fa.min.css" />
    <!-- E: Styles -->
    
    <!-- B: Scripts -->
    <script type="text/javascript" src="{BASEURL}assets/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="{BASEURL}assets/scripts/jquery.layout.min.js"></script>
    <script type="text/javascript" src="{BASEURL}assets/scripts/jquery.ui.min.js"></script>
    <script src="{BASEURL}assets/scripts/adm.js" type="text/javascript"></script>
    <!-- E: Scripts -->
    
</head>

<body>
<!-- B: Containers -->
<div id="ctr">

	<div id="pwr">

        
        <div style="margin: 10px; margin-top:10%; margin:auto; text-align:center; padding:2%;padding-top: 20%">

                 <span style="display: block;color: #586671; font-size:1.5em; font-family:Verdana, Geneva, sans-serif; padding:5px;">Administrasi Website LPM Bantar Gebang</span>
        </div>
        
    </div>
    
</div>

<!-- E: Containers -->
</body>
</html>
<!-- E: Index -->
