<!-- BEGIN default.html -->
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" />
    <!--
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    -->
    <link rel="stylesheet" type="text/css" media="screen" href="{BASE_URL}include/styles/jquery-ui-1.10.3.custom.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{BASE_URL}include/styles/ui.jqgrid.css" />
    <link rel="stylesheet" href="{BASE_URL}include/js/jqwidgets3.6/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{BASE_URL}include/js/jquery.datetimepicker.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{BASE_URL}include/styles/content.css" />
	<title>dharmadhiester was here</title>
    <script type="text/javascript" src="{BASE_URL}include/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{BASE_URL}include/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{BASE_URL}include/js/jqgrid/grid.locale-{ID}.js"></script>
    <script type="text/javascript" src="{BASE_URL}include/js/jqgrid/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="{BASE_URL}include/js/jqwidgets3.6/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{BASE_URL}include/js/jqwidgets3.6/jqwidgets/jqx-all.js"></script>
    <script type="text/javascript" src="{BASE_URL}include/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{BASE_URL}include/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript">function base_url(){return '{BASE_URL}';}</script>
    <script type="text/javascript" src="{BASE_URL}include/js/standard_lib.js"></script>
</head>

<body>
    <div style="height: 5px;"></div>