<script src="{BASE_URL}assets/ckeditor/ckeditor.js"></script>
<script src="{BASE_URL}assets/ckeditor/js/sample.js"></script>
<link rel="stylesheet" href="{BASE_URL}assets/ckeditor/css/samples.css">
<link rel="stylesheet" href="{BASE_URL}assets/ckeditor/toolbarconfigurator/lib/codemirror/neo.css">

<div style="margin:1%">

<h4><i class="fa fa-angle-right"></i>Add / Edit News</h4>
<hr>
<div id=""></div>

    <form method="post" name="frm" id="frm" action="{BASE_URL}news/act_news" enctype="multipart/form-data">
    <input type="hidden" value="{NEWSID}" name="newsid" />
        <div class="form-group">
        <label>Text Input</label>
            <input class="form-control" type="text" value="{TITLE}" style="width:100%;" name="title" id="title" required="required" />

        <label>Content</label>
        <textarea rows="6" class="form-control" name="content" id="editor" style="width:100%">{CONTENT}</textarea>
        
        <label>Images</label>
            <input  type="file" name="images" id="images"  />
    <div style="clear:both"></div>
				<img src="{BASE_URL}news_image/{IMAGE}" style="max-width:30%; margin:0;" class="image-responsive" />
    <div style="clear:both"></div>

        <label>File</label>
            <input  type="file" name="pdf" id="pdf"  />
    <div style="clear:both"></div>

<button class="btn btn-default" type="submit" style="margin-top:1%">Save</button>
</div>
	</form>

                </div>
                <!-- /.row -->
<script>
	initSample();
</script>
