<div style="margin:1%">

<h4><i class="fa fa-angle-right"></i>List News</h4>
<hr>


<form name="frm1" id="frm1" method="post" action="{BASE_URL}news/list_news" style="margin:auto">
        <div class="form-group">
        <h2 style="margin:auto; padding:0"><small>Search</small></h2>
        <label>Title / Content</label>
            <input class="form-control" type="text" value="{TITLE}" style="width:100%;" name="title" id="title" required="required" />
                    <br />
<input type="Submit" value="Search" class="btn btn-warning" style="margin-bottom:1%" />

&nbsp;
<input type="button" value="Add News" class="btn btn-default" style="margin-bottom:1%" onclick="window.location.replace('{BASE_URL}news/addedit_news?newsid=');"/>
</div>
</form>
<br />

                        <div class="table-responsive" style="width:100%">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:2%">No</th>
                                        <th>Images</th>
                                        <th>Title</th>
                                        <th>Content</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                <!-- START LOOPING: row -->
                                    <tr>
                                        <td>{VNO}</td>
                                        <td width="10%"><img src="{BASE_URL}news_image/{IMAGES}" style="width:100%" /></td>
                                        <td width="30%">{TITLE}</td>
                                        <td width="50%">{CONTENT}</td>
                                        <td>{TANGGAL}</td>
                                        <td>
                                        <a href="{BASE_URL}news/addedit_news?newsid={NEWSID}"><i class="fa fa-edit"></i></a>
                                        &nbsp;
                                        <a href="{BASE_URL}news/delete?newsid={NEWSID}"><i class="fa  fa-eraser" style="color:#F00"></i></a>
                                        </td>
                                    </tr>
                <!-- END LOOPING: row -->
                                </tbody>
                            </table>

                </div>
                <!-- /.row -->
                