<script src="{BASE_URL}assets/ckeditor/ckeditor.js"></script>
<script src="{BASE_URL}assets/ckeditor/js/sample.js"></script>
<link rel="stylesheet" href="{BASE_URL}assets/ckeditor/css/samples.css">
<link rel="stylesheet" href="{BASE_URL}assets/ckeditor/toolbarconfigurator/lib/codemirror/neo.css">

<div style="margin:1%">

<h4><i class="fa fa-angle-right"></i>Add / Edit Lowongan</h4>
<hr>
<div id=""></div>

    <form method="post" name="frm" id="frm" action="{BASE_URL}karir/act_karir" enctype="multipart/form-data">
    <input type="hidden" value="{LOID}" name="loid" />
        <div class="form-group">
        <label>Kode Lowongan</label>
            <input class="form-control" type="text" value="{KODE}" style="width:100%;" name="kode" id="kode" required="required" />

        <label>Nama Lowongan</label>
            <input class="form-control" type="text" value="{TITLE}" style="width:100%;" name="title" id="title" required="required" />

        <label>Kualifikasi</label>
        <textarea class="form-control" id="editor" name="jabatan" required="required" >{JABATAN}</textarea>

<div style="clear:both"></div>

<button class="btn btn-default" type="submit" style="margin-top:1%">Save</button>
</div>
	</form>

                </div>
                <!-- /.row -->
<script>
	initSample();
</script>
