 <div class="banner-area banner-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="banner">
            <h2>Kelurahan {nama_kelurahan}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div id="news" class="section wb">
                      <div class="row col-sm-10 col-sm-offset-1">
                                  <div class="message-box">
                                      <h2>Kelurahan {nama_kelurahan}</h2>
                                      <p> {content}</p>

                                  </div>
                        </div>
                     <hr class="hr1"> 

  </div>

  
{footer}

<style type="text/css">
  table{
    font-size: .8em;
  }
</style>