<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
    <title>LEMBAGA PEMBERDAYAAN MASYARAKAT SEKECAMATAN BANTAR GEBANG</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{BASEURL}frontmodules/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{BASEURL}frontmodules/images/apple-touch-icon.png">
    <link rel="stylesheet" href="{BASEURL}frontmodules/css/bootstrap.min.css">
    <link rel="stylesheet" href="{BASEURL}frontmodules/style.css">
    <link rel="stylesheet" href="{BASEURL}frontmodules/css/responsive.css">
    <link rel="stylesheet" href="{BASEURL}frontmodules/css/custom.css">
    <script src="{BASEURL}frontmodules/js/modernizer.js"></script>


<script type="text/javascript">
  $(".jumbotron").css({ height: $(window).height() + "px" });

$(window).on("resize", function() {
  $(".jumbotron").css({ height: $(window).height() + "px" });
});

</script>
</head>
<body>

    <header class="header header_style_01" style="background-color: #1d8717">
        <nav class="megamenu navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{BASEURL}">
                    <!--     <img src="images/logos/logo.png" alt="image"> -->
                        <img src="{BASEURL}frontmodules/images/lpm.png" alt="image" style="height: 5vh">
<!--                         <img src="https://img.pngio.com/kota-bekasi-png-3-png-image-bekasi-png-434_474.png" alt="image" style="height: 12vh"> -->
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{BASEURL}">Beranda</a></li>
                        <li><a href="{BASEURL}web/kelurahan">Data Kelurahan</a></li>
                        <li><a href="{BASEURL}web/gallery">Galeri Kegiatan</a></li>
                        <li><a href="{BASEURL}web/berita">Berita</a></li>
                        <li><a href="{BASEURL}web/tentang">Kontak Kami</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
