 <div class="banner-area banner-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="banner">
            <h2>Data Kelurahan</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

    
    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                    <div class="message-box">
                        <h4>Data Kelurahan , Kecamatan Bantar Gebang</h4>
                            <hr class="hr1"> 

                            <!-- START LOOPING: row -->
                            <div class="col-sm-12">
                              <div class="col-md-6">
                                  <div class="message-box">
                                      <h4><a href="{BASEURL}web/detikel/{dkid}">Kelurahan {nama_kelurahan}</a></h4>
                                  </div>
                              </div>
                            </div>
                            <div style="clear: both;"></div>
                            <hr class="hr1"> 
                            <!-- END LOOPING: row -->

                  </div>

            </div>

            <hr class="hr1"> 

        </div>
    </div>

        {footer}