 <div class="banner-area banner-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="banner">
            <h2>Tentang Kami</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

    
    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                    <div class="message-box">
                        <h4>Selamat Datang di Website Resmi</h4>
                        <h2>LPM Bantar Gebang</h2>
                        <p>{konten}</p>
                  </div>

            </div>

            <hr class="hr1"> 

        </div>
    </div>

        {footer}